.search {
  margin-top: 6px;
  height: 36px;
  width: 315px;
  .ant-input {
    padding-left: 16px;
    color: rgba(255, 255, 255, .6);
    background: rgba(255, 255, 255, .08) !important;
    &:hover {
      color: #fff;
    }

    &::placeholder {
      color: rgba(255, 255, 255, .6);
    }
  }

  .ant-btn-icon {
    color: rgba(255, 255, 255, .6);
    &:hover {
      color: white;
    }
  }
}