.search {
  margin-top: 6px;
  height: 36px;
  width: 315px;
  input {
    padding-left: 16px;
    color: rgba(255, 255, 255, .6);
    background: rgba(255, 255, 255, .08);
    border-radius: 100px;
    border: none;
    font-size: 16px;
    &:hover {
      background: rgba(255, 255, 255, .08);
      border: none;
      color: #fff;
    }
    &:focus {
      background: rgba(255, 255, 255, .08);
      border: none;
      box-shadow: none;
    }
    &::placeholder {
      color: rgba(255, 255, 255, .6);
    }
  }
  span button {
    font-size: 18px;
    color: rgba(255, 255, 255, .6);
    background: rgba(255, 255, 255, .08);
    border-radius: 100px;
    border: none;
    span {
      color: rgba(255, 255, 255, .6);
      &:hover {
        color: white;
      }
    }
    &:hover {
      background: rgba(255, 255, 255, .08) !important;
      border: none !important;
    }
  }
}